[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "inlabru"]
	path = inlabru
	url = https://github.com/inlabru-org/inlabru
	shallow = true
	registered = true
